:root{
    --dimensao : 24px;
}

.cabecalho__menu-hamburguer{
    width: var(--dimensao);
    height: var(--dimensao);
    background-image: url("../imgs/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../imgs/MenuAberto.png");
}

.container_botao:checked ~ .container__rotulo{
    background: var(--cor-azul-gradiente);
}

.cabecalho{
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked ~ .lista-menu{
    display:block;
}

.container_botao{
    display: none;
}

.container__imagem{
    padding: 0.5em;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-branca);
}

.lista-menu__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
    text-transform: uppercase;
}

.lista-menu__link{
    background: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.opcoes,
.container__texto,
.container__titulo{
    display: none;
}

@media screen and (min-width : 1024px){

    .container__titulo,
    .container__titulo--negrito{
        font-family : 'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo{
        color: var(--cor-preto);
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes__botao,
    .container__imagem-tranparente,
    .cabecalho__menu-hamburguer{
        display: none;
    }
    
    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .titulo__link,
    .opcoes__link{
        color: var(--cor-preto);
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--cor-azul-gradiente);
        color: var(--cor-branca);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .container__texto{
        display: none;
    }

    .lista-menu__item:hover{
        background: var(--cor-azul-gradiente);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--cor-branca);
    }
}

@media screen and (min-width : 1728px){
    .container__texto{
        display: block;
    }
    
    .container__link{
        display: flex;
        align-items: center;
        color: var(--cor-preto);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }
}